In [1]:

import numpy as np
import pandas as pd

C:\Users\ayush\AppData\Local\Temp\ipykernel_15968\3506698419.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv('video_games_sales.csv', header=0)

In [4]:
df.shape

(16598, 11)

In [5]:
df.describe()

,rank,year,na_sales,eu_sales,jp_sales,other_sales,global_sales
count,16598.000000,16349.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.405468,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.830349,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16598 non-null  int64
 1   name          16598 non-null  object
 2   platform      16598 non-null  object
 3   year          16349 non-null  float64
 4   genre         16598 non-null  object
 5   publisher     16598 non-null  object
 6   na_sales      16598 non-null  float64
 7   eu_sales      16598 non-null  float64
 8   jp_sales      16598 non-null  float64
 9   other_sales   16598 non-null  float64
 10  global_sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [7]:
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = df[column].astype('category')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16598 non-null  int64
 1   name          16598 non-null  category
 2   platform      16598 non-null  category
 3   year          16349 non-null  float64
 4   genre         16598 non-null  category
 5   publisher     16598 non-null  category
 6   na_sales      16598 non-null  float64
 7   eu_sales      16598 non-null  float64
 8   jp_sales      16598 non-null  float64
 9   other_sales   16598 non-null  float64
 10  global_sales  16598 non-null  float64
dtypes: category(4), float64(6), int64(1)
memory usage: 1.3 MB

In [9]:
year_null = df[df['year'].isnull()].index

In [10]:
year_name_miss = df[df['year'].isnull()]['name'].to_list()

In [11]:
print(year_name_miss)

['Madden NFL 2004', 'FIFA Soccer 2004', 'LEGO Batman: The Videogame', 'Space Invaders', 'Rock Band', "Frogger's Adventures: Temple of the Frog", 'LEGO Indiana Jones: The Original Adventures', 'Call of Duty 3', 'Rock Band', 'Call of Duty: Black Ops', 'Rock Band', 'LEGO Harry Potter: Years 5-7', 'LEGO Batman: The Videogame', 'Adventure', 'Combat', 'NASCAR Thunder 2003', 'Hitman 2: Silent Assassin', 'Rock Band', 'Legacy of Kain: Soul Reaver', 'Donkey Kong Land III', 'LEGO Harry Potter: Years 5-7', 'Air-Sea Battle', 'Suikoden III', 'Yakuza 4', 'LEGO Harry Potter: Years 5-7', 'Wheel of Fortune', 'Namco Museum', 'Rhythm Heaven', 'The Lord of the Rings: War in the North', 'The Lord of the Rings: War in the North', 'Madden NFL 07', 'MLB SlugFest 20-03', 'Shaun White Snowboarding', 'PES 2009: Pro Evolution Soccer', 'Madden NFL 11', 'WarioWare: Twisted!', 'LEGO Harry Potter: Years 5-7', 'Test Drive Unlimited 2', 'The Chronicles of Narnia: The Lion, The Witch and The Wardrobe', 'Test Drive Unlimited 2', 'Monster Hunter 2', 'Advance Wars: Days of Ruin', 'Metal Gear Solid 2: Substance', 'The Golden Compass', 'Madden NFL 06', 'NASCAR: Dirt to Daytona', 'Madden NFL 2002', 'Def Jam: Fight for NY', 'NBA Street Vol. 2', 'Fishing Derby', 'Wet', 'Karate', 'Tiger Woods PGA Tour 07', 'Circus Atari', 'The Chronicles of Riddick: Escape from Butcher Bay', "Maze Craze: A Game of Cops 'n Robbers", 'Silent Hill: Homecoming', 'Super Breakout', "Robert Ludlum's The Bourne Conspiracy", 'NHL Slapshot', 'TERA', 'LEGO Harry Potter: Years 5-7', 'NFL GameDay 2003', 'Silent Hill: Homecoming', 'Harvest Moon: Save the Homeland', "Robert Ludlum's The Bourne Conspiracy", 'Hangman', 'The Golden Compass', 'NBA Live 2003', 'Bejeweled 3', "Cubix Robots for Everyone: Clash 'n' Bash", 'Tropico 4', 'Tomb Raider (2013)', 'Custom Robo', 'Final Fantasy XI', 'Singularity', 'Dragster', 'All-Star Baseball 2005', 'Star Wars Jedi Knight II: Jedi Outcast', 'Slot Machine', 'Shrek the Third', 'The Dukes of Hazzard II: Daisy Dukes It Out', 'Disgaea 3: Absence of Detention', 'NBA Live 2003', 'Harvest Moon: The Tale of Two Towns', 'Nicktoons: Battle for Volcano Island', 'Haven: Call of the King', 'Unreal Championship 2: The Liandri Conflict', 'The Chronicles of Narnia: The Lion, The Witch and The Wardrobe', 'Pac-Man Fever', 'Indy 500', 'Gun', 'Flag Capture', 'LEGO Harry Potter: Years 5-7', 'Rock Revolution', 'Jonah Lomu Rugby Challenge', 'College Hoops 2K6', 'Mega Man X Collection', 'BioShock 2', 'Singularity', 'Danganronpa: Trigger Happy Havoc', 'DanceDanceRevolution II', "Tony Hawk's Downhill Jam", 'Big Beach Sports 2', 'Jet X20', 'Tribes: Aerial Assault', 'Move Fitness', 'LEGO Harry Potter: Years 5-7', 'Ghostbusters II', 'Breakaway IV', 'Robotech: Battlecry', 'Valkyria Chronicles III: Unrecorded Chronicles', 'WRC: FIA World Rally Championship', 'Famista 64', 'Dead Space 3', 'Test Drive Unlimited 2', 'Pet Zombies', 'Star Trek: Legacy', 'Trauma Team', 'Backbreaker', 'Twisted Metal: Small Brawl', 'Otomedius Excellent', 'NBA Starting Five', 'Teen Titans', 'Backbreaker', "James Cameron's Dark Angel", 'Sword of the Samurai', 'Splatterhouse', 'Alone in the Dark: The New Nightmare', 'Vegas Party', 'Jurassic Park: The Game', 'Home Run', 'eJay Clubworld', 'All-Star Baseball 2005', 'Our House Party!', 'WCW Backstage Assault', 'Bejeweled 3', 'Bejeweled 3', "Disney's Cinderella: Magical Dreams", 'Transworld Surf', 'Street Fighter IV', 'Nintendo Puzzle Collection', 'Charm Girls Club: My Fashion Mall', 'WRC: FIA World Rally Championship', 'Record of Agarest War Zero', 'Saru! Get You! Million Monkeys', 'Street Hoops', 'Godzilla: Destroy All Monsters Melee', 'The Daring Game for Girls', 'Rocksmith', 'Major League Baseball 2K6', 'Happy Feet Two', 'Star Trek: Conquest', 'GiFTPiA', "Disney's Chicken Little: Ace In Action", 'Happy Feet Two', 'My Healthy Cooking Coach', 'Happy Feet Two', 'Luminous Arc 2 (JP sales)', 'The Daring Game for Girls', 'Egg Monster Hero', 'Samurai Shodown Anthology', 'Demon Chaos', 'Super Puzzle Fighter II', 'Happy Feet Two', 'Charm Girls Club: My Fashion Show', 'Get Fit with Mel B', 'Face Racers: Photo Finish', 'Zero: Tsukihami no Kamen', 'The Hidden', 'Rock Revolution', 'Dead Island: Riptide', 'Mega Man Battle Network: Operation Shooting Star', 'Smashing Drive', 'Dream Trigger 3D', 'Tornado', "McFarlane's Evil Prophecy", 'Drake of the 99 Dragons', 'Port Royale 3', 'Build-A-Bear Workshop: Friendship Valley', 'Alex Rider: Stormbreaker', 'Yoostar on MTV', 'Rayman Arena', 'National Geographic Challenge!', 'Port Royale 3', 'Jewel Link Chronicles: Mountains of Madness', 'Combat Elite: WWII Paratroopers', 'Captain America: Super Soldier', "Flip's Twisted World", 'Mobile Ops: The One Year War', "Tom Clancy's Rainbow Six: Critical Hour", 'GRID', 'Captain America: Super Soldier', 'Reader Rabbit 2nd Grade', 'Mountain Bike Adrenaline', 'Tour de France 2011', 'Drill Dozer', 'Battle vs. Chess', 'The History Channel: Great Battles - Medieval', 'RollerCoaster Tycoon', 'GRID', "Luxor: Pharaoh's Challenge", 'NHL Hitz Pro', 'Sega Rally 2006', 'Swords', 'Half-Minute Hero 2', 'Clockwork Empires', 'Major League Baseball 2K8', 'Sabre Wulf', 'Beyond the Labyrinth', 'Majesty 2: The Fantasy Kingdom Sim', 'Fullmetal Alchemist: Brotherhood', 'Combat Elite: WWII Paratroopers', 'Samurai Spirits: Tenkaichi Kenkakuden', 'Battle vs. Chess', 'Tom and Jerry in War of the Whiskers', 'Super Duper Sumos', 'Legacy of Ys: Books I & II', 'The King of Fighters: Maximum Impact - Maniax', 'Combat Wings: The Great Battles of WWII', 'Tube Slider', 'Wii de Asobu: Metroid Prime', 'Payout Poker & Casino', 'Wii de Asobu: Metroid Prime', 'Saint', 'Steal Princess', 'Runaway: A Twist of Fate', "Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales)", "Cabela's Alaskan Adventure", 'Writing and Speaking Beautiful Japanese DS', 'Virtua Quest', "Shonen Jump's Yu-Gi-Oh! GX Card Almanac", 'Without Warning', 'Football Manager 2007', 'Ferrari: The Race Experience', 'PDC World Championship Darts 2008', 'Dinotopia: The Sunstone Odyssey', "Dance! It's Your Stage", 'Jet Impulse', 'PDC World Championship Darts 2008', 'WRC: FIA World Rally Championship', 'Aquaman: Battle for Atlantis', 'Shorts', 'Agarest Senki: Re-appearance', 'Freaky Flyers', 'Inversion', 'Hakuouki: Shinsengumi Kitan', 'Virtua Quest', 'The Smurfs']

In [12]:
import os
import openai

from dotenv import load_dotenv
load_dotenv()

openai.api_key = os.environ["OpenAI_key"]

In [13]:
model = "gpt-3.5-turbo"
answers = []

questions = [
    "Grand Theft Auto San Andreas",
    "Grand Theft Auto V"
]

conversation =[
    {"role": "system",
     "content":"You have to tell the year in which the games where published. You speak in a concise manner."},
    {"role":"user",
     "content":"Grand Theft Auto Vice city"},
    {"role":"assistant",
     "content":"2002"},
    ]

for question in year_name_miss:

    input_dict = {"role": "user",
                  "content": question}
    
    conversation.append(input_dict)  

    response = openai.chat.completions.create(
            model=model,
            messages=conversation,
            temperature=0.0,
            max_tokens=100
    )

    resp = response.choices[0].message.content
    print(resp)

    resp_dict = {"role": "assistant",
                 "content": resp}
    
    conversation.append(resp_dict)
    answers.append(resp)

2003
2003
2008
1978
2007
2001
2008
2006
2007
2010
2007
2011
2008
1979
1977
2002
2002
2007
1999
1997
2011
1977
2002
2010
2011
1987
1995
2008
2011
2011
2006
2002
2008
2008
2010
2004
2011
2011
2005
2011
2006
2008
2002
2007
2005
2002
2001
2004
2003
1980
2009
1982
2006
1980
2004
1980
2008
1978
2008
2010
2011
2011
2002
2008
2001
2008
1978
2007
2002
2010
2002
2011
2013
1999
2002
2010
1980
2004
2002
1895
2007
2000
2012
2002
2010
2006
2002
2005
2005
2002
1977
2005
1978
2011
2008
2011
2005
2006
2010
2010
2010
2011
2006
2008
2002
2002
2011
2011
1989
1978
2002
2011
2010
1997
2013
2011
2011
2006
2010
2010
2001
2011
2002
2005
2010
2002
1989
2010
2001
2010
2011
1978
2001
2004
2009
2000
2010
2010
2005
2001
2008
2003
2009
2010
2011
2006
2002
2002
2010
2011
2006
2011
2007
2003
2006
2011
2009
2011
2008
2010
2002
2008
2005
1996
2011
2010
2010
2011
2008
2012
2008
2013
2009
2000
2011
1993
2004
2003
2012
2010
2006
2011
2001
2011
2012
2011
2005
2011
2010
2007
2006
2008
2011
1998
2007
2011
2005
2011
2009
1999
2008
2007
2003
2006
2007
2011
2016
2008
1984
2012
2009
2010
2005
2005
2011
2002
2003
2008
2004
2012
2003
2009
2006
2009
2006
2008
2009
2009
2006
2006
2004
2007
2005
2006
2010
2008
2003
2010
2002
2008
2010
2003
2009
2007
2003
2012
2008
2004
2011

In [15]:
print(answers)
print(year_name_miss)

['2003', '2003', '2008', '1978', '2007', '2001', '2008', '2006', '2007', '2010', '2007', '2011', '2008', '1979', '1977', '2002', '2002', '2007', '1999', '1997', '2011', '1977', '2002', '2010', '2011', '1987', '1995', '2008', '2011', '2011', '2006', '2002', '2008', '2008', '2010', '2004', '2011', '2011', '2005', '2011', '2006', '2008', '2002', '2007', '2005', '2002', '2001', '2004', '2003', '1980', '2009', '1982', '2006', '1980', '2004', '1980', '2008', '1978', '2008', '2010', '2011', '2011', '2002', '2008', '2001', '2008', '1978', '2007', '2002', '2010', '2002', '2011', '2013', '1999', '2002', '2010', '1980', '2004', '2002', '1895', '2007', '2000', '2012', '2002', '2010', '2006', '2002', '2005', '2005', '2002', '1977', '2005', '1978', '2011', '2008', '2011', '2005', '2006', '2010', '2010', '2010', '2011', '2006', '2008', '2002', '2002', '2011', '2011', '1989', '1978', '2002', '2011', '2010', '1997', '2013', '2011', '2011', '2006', '2010', '2010', '2001', '2011', '2002', '2005', '2010', '2002', '1989', '2010', '2001', '2010', '2011', '1978', '2001', '2004', '2009', '2000', '2010', '2010', '2005', '2001', '2008', '2003', '2009', '2010', '2011', '2006', '2002', '2002', '2010', '2011', '2006', '2011', '2007', '2003', '2006', '2011', '2009', '2011', '2008', '2010', '2002', '2008', '2005', '1996', '2011', '2010', '2010', '2011', '2008', '2012', '2008', '2013', '2009', '2000', '2011', '1993', '2004', '2003', '2012', '2010', '2006', '2011', '2001', '2011', '2012', '2011', '2005', '2011', '2010', '2007', '2006', '2008', '2011', '1998', '2007', '2011', '2005', '2011', '2009', '1999', '2008', '2007', '2003', '2006', '2007', '2011', '2016', '2008', '1984', '2012', '2009', '2010', '2005', '2005', '2011', '2002', '2003', '2008', '2004', '2012', '2003', '2009', '2006', '2009', '2006', '2008', '2009', '2009', '2006', '2006', '2004', '2007', '2005', '2006', '2010', '2008', '2003', '2010', '2002', '2008', '2010', '2003', '2009', '2007', '2003', '2012', '2008', '2004', '2011']
['Madden NFL 2004', 'FIFA Soccer 2004', 'LEGO Batman: The Videogame', 'Space Invaders', 'Rock Band', "Frogger's Adventures: Temple of the Frog", 'LEGO Indiana Jones: The Original Adventures', 'Call of Duty 3', 'Rock Band', 'Call of Duty: Black Ops', 'Rock Band', 'LEGO Harry Potter: Years 5-7', 'LEGO Batman: The Videogame', 'Adventure', 'Combat', 'NASCAR Thunder 2003', 'Hitman 2: Silent Assassin', 'Rock Band', 'Legacy of Kain: Soul Reaver', 'Donkey Kong Land III', 'LEGO Harry Potter: Years 5-7', 'Air-Sea Battle', 'Suikoden III', 'Yakuza 4', 'LEGO Harry Potter: Years 5-7', 'Wheel of Fortune', 'Namco Museum', 'Rhythm Heaven', 'The Lord of the Rings: War in the North', 'The Lord of the Rings: War in the North', 'Madden NFL 07', 'MLB SlugFest 20-03', 'Shaun White Snowboarding', 'PES 2009: Pro Evolution Soccer', 'Madden NFL 11', 'WarioWare: Twisted!', 'LEGO Harry Potter: Years 5-7', 'Test Drive Unlimited 2', 'The Chronicles of Narnia: The Lion, The Witch and The Wardrobe', 'Test Drive Unlimited 2', 'Monster Hunter 2', 'Advance Wars: Days of Ruin', 'Metal Gear Solid 2: Substance', 'The Golden Compass', 'Madden NFL 06', 'NASCAR: Dirt to Daytona', 'Madden NFL 2002', 'Def Jam: Fight for NY', 'NBA Street Vol. 2', 'Fishing Derby', 'Wet', 'Karate', 'Tiger Woods PGA Tour 07', 'Circus Atari', 'The Chronicles of Riddick: Escape from Butcher Bay', "Maze Craze: A Game of Cops 'n Robbers", 'Silent Hill: Homecoming', 'Super Breakout', "Robert Ludlum's The Bourne Conspiracy", 'NHL Slapshot', 'TERA', 'LEGO Harry Potter: Years 5-7', 'NFL GameDay 2003', 'Silent Hill: Homecoming', 'Harvest Moon: Save the Homeland', "Robert Ludlum's The Bourne Conspiracy", 'Hangman', 'The Golden Compass', 'NBA Live 2003', 'Bejeweled 3', "Cubix Robots for Everyone: Clash 'n' Bash", 'Tropico 4', 'Tomb Raider (2013)', 'Custom Robo', 'Final Fantasy XI', 'Singularity', 'Dragster', 'All-Star Baseball 2005', 'Star Wars Jedi Knight II: Jedi Outcast', 'Slot Machine', 'Shrek the Third', 'The Dukes of Hazzard II: Daisy Dukes It Out', 'Disgaea 3: Absence of Detention', 'NBA Live 2003', 'Harvest Moon: The Tale of Two Towns', 'Nicktoons: Battle for Volcano Island', 'Haven: Call of the King', 'Unreal Championship 2: The Liandri Conflict', 'The Chronicles of Narnia: The Lion, The Witch and The Wardrobe', 'Pac-Man Fever', 'Indy 500', 'Gun', 'Flag Capture', 'LEGO Harry Potter: Years 5-7', 'Rock Revolution', 'Jonah Lomu Rugby Challenge', 'College Hoops 2K6', 'Mega Man X Collection', 'BioShock 2', 'Singularity', 'Danganronpa: Trigger Happy Havoc', 'DanceDanceRevolution II', "Tony Hawk's Downhill Jam", 'Big Beach Sports 2', 'Jet X20', 'Tribes: Aerial Assault', 'Move Fitness', 'LEGO Harry Potter: Years 5-7', 'Ghostbusters II', 'Breakaway IV', 'Robotech: Battlecry', 'Valkyria Chronicles III: Unrecorded Chronicles', 'WRC: FIA World Rally Championship', 'Famista 64', 'Dead Space 3', 'Test Drive Unlimited 2', 'Pet Zombies', 'Star Trek: Legacy', 'Trauma Team', 'Backbreaker', 'Twisted Metal: Small Brawl', 'Otomedius Excellent', 'NBA Starting Five', 'Teen Titans', 'Backbreaker', "James Cameron's Dark Angel", 'Sword of the Samurai', 'Splatterhouse', 'Alone in the Dark: The New Nightmare', 'Vegas Party', 'Jurassic Park: The Game', 'Home Run', 'eJay Clubworld', 'All-Star Baseball 2005', 'Our House Party!', 'WCW Backstage Assault', 'Bejeweled 3', 'Bejeweled 3', "Disney's Cinderella: Magical Dreams", 'Transworld Surf', 'Street Fighter IV', 'Nintendo Puzzle Collection', 'Charm Girls Club: My Fashion Mall', 'WRC: FIA World Rally Championship', 'Record of Agarest War Zero', 'Saru! Get You! Million Monkeys', 'Street Hoops', 'Godzilla: Destroy All Monsters Melee', 'The Daring Game for Girls', 'Rocksmith', 'Major League Baseball 2K6', 'Happy Feet Two', 'Star Trek: Conquest', 'GiFTPiA', "Disney's Chicken Little: Ace In Action", 'Happy Feet Two', 'My Healthy Cooking Coach', 'Happy Feet Two', 'Luminous Arc 2 (JP sales)', 'The Daring Game for Girls', 'Egg Monster Hero', 'Samurai Shodown Anthology', 'Demon Chaos', 'Super Puzzle Fighter II', 'Happy Feet Two', 'Charm Girls Club: My Fashion Show', 'Get Fit with Mel B', 'Face Racers: Photo Finish', 'Zero: Tsukihami no Kamen', 'The Hidden', 'Rock Revolution', 'Dead Island: Riptide', 'Mega Man Battle Network: Operation Shooting Star', 'Smashing Drive', 'Dream Trigger 3D', 'Tornado', "McFarlane's Evil Prophecy", 'Drake of the 99 Dragons', 'Port Royale 3', 'Build-A-Bear Workshop: Friendship Valley', 'Alex Rider: Stormbreaker', 'Yoostar on MTV', 'Rayman Arena', 'National Geographic Challenge!', 'Port Royale 3', 'Jewel Link Chronicles: Mountains of Madness', 'Combat Elite: WWII Paratroopers', 'Captain America: Super Soldier', "Flip's Twisted World", 'Mobile Ops: The One Year War', "Tom Clancy's Rainbow Six: Critical Hour", 'GRID', 'Captain America: Super Soldier', 'Reader Rabbit 2nd Grade', 'Mountain Bike Adrenaline', 'Tour de France 2011', 'Drill Dozer', 'Battle vs. Chess', 'The History Channel: Great Battles - Medieval', 'RollerCoaster Tycoon', 'GRID', "Luxor: Pharaoh's Challenge", 'NHL Hitz Pro', 'Sega Rally 2006', 'Swords', 'Half-Minute Hero 2', 'Clockwork Empires', 'Major League Baseball 2K8', 'Sabre Wulf', 'Beyond the Labyrinth', 'Majesty 2: The Fantasy Kingdom Sim', 'Fullmetal Alchemist: Brotherhood', 'Combat Elite: WWII Paratroopers', 'Samurai Spirits: Tenkaichi Kenkakuden', 'Battle vs. Chess', 'Tom and Jerry in War of the Whiskers', 'Super Duper Sumos', 'Legacy of Ys: Books I & II', 'The King of Fighters: Maximum Impact - Maniax', 'Combat Wings: The Great Battles of WWII', 'Tube Slider', 'Wii de Asobu: Metroid Prime', 'Payout Poker & Casino', 'Wii de Asobu: Metroid Prime', 'Saint', 'Steal Princess', 'Runaway: A Twist of Fate', "Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales)", "Cabela's Alaskan Adventure", 'Writing and Speaking Beautiful Japanese DS', 'Virtua Quest', "Shonen Jump's Yu-Gi-Oh! GX Card Almanac", 'Without Warning', 'Football Manager 2007', 'Ferrari: The Race Experience', 'PDC World Championship Darts 2008', 'Dinotopia: The Sunstone Odyssey', "Dance! It's Your Stage", 'Jet Impulse', 'PDC World Championship Darts 2008', 'WRC: FIA World Rally Championship', 'Aquaman: Battle for Atlantis', 'Shorts', 'Agarest Senki: Re-appearance', 'Freaky Flyers', 'Inversion', 'Hakuouki: Shinsengumi Kitan', 'Virtua Quest', 'The Smurfs']

In [20]:
df2 = pd.DataFrame({'name': year_name_miss, 'year1': answers})

In [21]:
df2

                            name year1
0                Madden NFL 2004  2003
1               FIFA Soccer 2004  2003
2     LEGO Batman: The Videogame  2008
3                 Space Invaders  1978
4                      Rock Band  2007
..                           ...   ...
244                Freaky Flyers  2003
245                    Inversion  2012
246  Hakuouki: Shinsengumi Kitan  2008
247                 Virtua Quest  2004
248                   The Smurfs  2011

[249 rows x 2 columns]

In [23]:
merged_df = pd.merge(df, df2, on='name', how='left')

merged_df['year'] = merged_df['year'].fillna(merged_df['year1'])

merged_df.drop(columns=['year1'], inplace=True)

In [24]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16759 entries, 0 to 16758
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16759 non-null  int64
 1   name          16759 non-null  object
 2   platform      16759 non-null  category
 3   year          16759 non-null  object
 4   genre         16759 non-null  category
 5   publisher     16759 non-null  category
 6   na_sales      16759 non-null  float64
 7   eu_sales      16759 non-null  float64
 8   jp_sales      16759 non-null  float64
 9   other_sales   16759 non-null  float64
 10  global_sales  16759 non-null  float64
dtypes: category(3), float64(5), int64(1), object(2)
memory usage: 1.1+ MB

In [10]:
merged_df = merged_df.drop_duplicates()

In [14]:
merged_df.to_csv('preprocessed_data.csv', index=True)